.imgCat{
    max-width: 350px;
    height: 400px;
    border-radius: 50%;    
    box-shadow: 0 0 8px 3px rgb(240, 235, 235);
}

.divDetail{
    width: 350px;
    height: 250px;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}