.divCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 2rem;
    padding: 80px;   
    padding-top: 20px;    
}

@media (max-width: 576px) {
    .divCards {
        gap: 1rem;
    }
  }